body{
    margin: 0;
    background-color: rgb(229, 229, 192) ;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    cursor: pointer;
}

h1 {
    margin: none;
    text-align: center;
}

a{
    text-decoration: none;
    border: 1px solid rgb(32, 194, 14);
    padding: 0 5px 0 5px;
}

a:focus{
    background-color: rgb(32, 194, 14);
    color: rgba(15, 32, 15, 1);
    outline: none;
}

button{
    text-decoration: none;
    border: 1px solid rgb(32, 194, 14);
    font-family: 'Courier Prime', monospace;
    font-size: 1rem;
    padding: 0 5px 0 5px;
}

button:focus{
    background-color: rgb(32, 194, 14);
    color: rgba(15, 32, 15, 1);
    outline: none;
}


.difficulty-selector input[type= "radio"]{
    opacity: 0;
    width: 0;
}

.difficulty-selector input[type= "radio"]:checked + label{
    background-color: rgb(32, 194, 14);
    color: rgba(15, 32, 15, 1) ;
}


.container{
    text-align: center;
    padding: 0 5% 0 5%;
}

label{
    padding: 0 5px 0 5px;
}

.click {
    background-color: rgba(15, 32, 15, 1);
    color: rgb(32, 194, 14);
}

.click:hover {
    background-color: rgb(32, 194, 14);
    color: rgba(15, 32, 15, 1);
    cursor: pointer;
}

button {
    background-color: rgba(15, 32, 15, 1);
    color: rgb(32, 194, 14);
    display: inline-block;
    padding: 0 5px 0 5px;
    border: none;
}

button:hover {
    background-color: rgb(32, 194, 14);
    color: rgba(15, 32, 15, 1);
    cursor: pointer;
}

.hacking-terminal{
    border-radius: 25px;
    border: 1px solid black;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 2px;
    height: 95vh;
    width: 90%;
    margin: 10px auto 10px auto;
    color: rgb(32, 194, 14) ;
    background-color: rgba(15, 32, 15, 1);

}

.show {
    display: inline;
}

.hide {
  display: none;
}

.guessed {
    color: grey;
    cursor: auto;
}

.guessed:hover{
    background-color:rgba(15, 32, 15, 1);
    color: grey;
    cursor: auto;
}

.guessed:focus{
    background-color:rgba(15, 32, 15, 1);
    color: grey;
    cursor: auto;
}

.image {
    height: 50vh;
    object-fit: contain;
}

.padding {
    padding: 5%;
}

.border {
    border: 1px solid rgb(32, 194, 14);
}

#help-board {
    position: fixed;
    letter-spacing: initial;
    max-height: 70vh;
    width: 60%;
    z-index: 1;
    border: 2px solid rgb(32, 194, 14);
    background-color:rgba(15, 32, 15, 1);
    margin: auto; 
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px){
    .image {
        height: 40vh;
    }

    .ascii {
        display: none;
    }

    body{
        font-size: .8rem;
    }

    button {
        font-size: .8rem;
    }
}